{% assign social_accounts = 'Facebook, Instagram, Tiktok, YouTube' | split: ', ' %}

<ul
  class="social-icons nav nav-horizontal nav-icons"
  aria-label="{{ 'general.accessibility.social_media_links' | t }}">
  {% for social_account in social_accounts %}
    {% assign social_handle = social_account | handleize %}
    {% capture social_link %}social_{{ social_handle }}{% endcapture %}
    {% unless settings[social_link] == blank %}
      <li class="nav-item">
        <a
          class="nav-link"
          href="{{ settings[social_link] }}"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="{{ social_account }}"
          aria-label="{{ social_account }}"
          target="_blank">
          {% case social_handle %}
            {% when 'facebook' %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="{{ icon_size | default: 20 }}"
                height="{{ icon_size | default: 20 }}"
                class="icon-social-facebook"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path d="M24 12.07C24 5.41 18.63 0 12 0S0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24v-8.44H7.08v-3.49h3.04V9.41c0-3.02 1.8-4.7 4.54-4.7 1.31 0 2.68.24 2.68.24v2.97h-1.5c-1.5 0-1.96.93-1.96 1.89v2.26h3.32l-.53 3.5h-2.8V24C19.62 23.1 24 18.1 24 12.07"/>
              </svg>
            {% when 'instagram' %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="{{ icon_size | default: 20 }}"
                height="{{ icon_size | default: 20 }}"
                class="icon-social-instagram"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path d="M16.98 0a6.9 6.9 0 0 1 5.08 1.98A6.94 6.94 0 0 1 24 7.02v9.96c0 2.08-.68 3.87-1.98 5.13A7.14 7.14 0 0 1 16.94 24H7.06a7.06 7.06 0 0 1-5.03-1.89A6.96 6.96 0 0 1 0 16.94V7.02C0 2.8 2.8 0 7.02 0h9.96zm.05 2.23H7.06c-1.45 0-2.7.43-3.53 1.25a4.82 4.82 0 0 0-1.3 3.54v9.92c0 1.5.43 2.7 1.3 3.58a5 5 0 0 0 3.53 1.25h9.88a5 5 0 0 0 3.53-1.25 4.73 4.73 0 0 0 1.4-3.54V7.02a5 5 0 0 0-1.3-3.49 4.82 4.82 0 0 0-3.54-1.3zM12 5.76c3.39 0 6.2 2.8 6.2 6.2a6.2 6.2 0 0 1-12.4 0 6.2 6.2 0 0 1 6.2-6.2zm0 2.22a3.99 3.99 0 0 0-3.97 3.97A3.99 3.99 0 0 0 12 15.92a3.99 3.99 0 0 0 3.97-3.97A3.99 3.99 0 0 0 12 7.98zm6.44-3.77a1.4 1.4 0 1 1 0 2.8 1.4 1.4 0 0 1 0-2.8z"/>
              </svg>
            {% when 'tiktok' %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="{{ icon_size | default: 20 }}"
                height="{{ icon_size | default: 20 }}"
                class="icon-social-tiktok"
                viewBox="0 0 32 32"
                fill="currentColor">
                <path d="M16.708 0.027c1.745-0.027 3.48-0.011 5.213-0.027 0.105 2.041 0.839 4.12 2.333 5.563 1.491 1.479 3.6 2.156 5.652 2.385v5.369c-1.923-0.063-3.855-0.463-5.6-1.291-0.76-0.344-1.468-0.787-2.161-1.24-0.009 3.896 0.016 7.787-0.025 11.667-0.104 1.864-0.719 3.719-1.803 5.255-1.744 2.557-4.771 4.224-7.88 4.276-1.907 0.109-3.812-0.411-5.437-1.369-2.693-1.588-4.588-4.495-4.864-7.615-0.032-0.667-0.043-1.333-0.016-1.984 0.24-2.537 1.495-4.964 3.443-6.615 2.208-1.923 5.301-2.839 8.197-2.297 0.027 1.975-0.052 3.948-0.052 5.923-1.323-0.428-2.869-0.308-4.025 0.495-0.844 0.547-1.485 1.385-1.819 2.333-0.276 0.676-0.197 1.427-0.181 2.145 0.317 2.188 2.421 4.027 4.667 3.828 1.489-0.016 2.916-0.88 3.692-2.145 0.251-0.443 0.532-0.896 0.547-1.417 0.131-2.385 0.079-4.76 0.095-7.145 0.011-5.375-0.016-10.735 0.025-16.093z"/>
              </svg>
            {% when 'youtube' %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="{{ icon_size | default: 20 }}"
                height="{{ icon_size | default: 20 }}"
                class="icon-social-youtube"
                viewBox="0 0 24 24"
                fill="currentColor">
                <path d="M12.04 3.5c.59 0 7.54.02 9.34.5a3.02 3.02 0 0 1 2.12 2.15C24 8.05 24 12 24 12v.04c0 .43-.03 4.03-.5 5.8A3.02 3.02 0 0 1 21.38 20c-1.76.48-8.45.5-9.3.51h-.17c-.85 0-7.54-.03-9.29-.5A3.02 3.02 0 0 1 .5 17.84c-.42-1.61-.49-4.7-.5-5.6v-.5c.01-.9.08-3.99.5-5.6a3.02 3.02 0 0 1 2.12-2.14c1.8-.49 8.75-.51 9.34-.51zM9.54 8.4v7.18L15.82 12 9.54 8.41z"/>
              </svg>
          {% endcase %}
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>